*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 112.5%;
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #19a2ae;
  font-family: 'Kumbh Sans', sans-serif;
}

/*-------------------------------------------
  Component box & background Effect - circles
--------------------------------------------*/
.component__box {
  min-height: 100vh;
  min-width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*--------------------------------
  Container - main / footer
---------------------------------*/
.component-box__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.component-box__main:before, .component-box__main:after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.component-box__main:before {
  top: 10%;
  left: 10%;
  background: url("../img/bg-pattern-top.svg") no-repeat bottom right;
}

.component-box__main:after {
  top: 90%;
  left: 90%;
  background: url("../img/bg-pattern-bottom.svg") no-repeat top left;
}

.component-box__footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0 0.7rem 0;
  text-shadow: 7px 0px 17px rgba(255, 255, 255, 0.92);
  letter-spacing: 1px;
  background-color: #19a2ae;
  z-index: 1;
}

.attribution-link {
  display: inline-block;
  padding-top: 0.5em;
  text-decoration: none;
  color: #3b53b0;
}

/*----------------------------
  Profile Card Component
----------------------------*/
.profile__card {
  width: 100%;
  max-width: 20rem;
  border-radius: 1rem;
  position: relative;
  -webkit-box-shadow: 6px 10px 18px -4px rgba(27, 99, 106, 0.72);
          box-shadow: 6px 10px 18px -4px rgba(27, 99, 106, 0.72);
  background-color: #ffffff;
}

.profile-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 1rem;
  padding-top: 7.8rem;
  color: #6a6f81;
}

.profile-card__header:before {
  content: '';
  display: block;
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 8rem;
  background: url("../img/bg-pattern-card.svg") no-repeat center;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.profile-card-box__img {
  margin-top: -2.8rem;
  background-color: #ffffff;
  border-radius: 4rem;
  z-index: 10;
}

.profile-card__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 3rem;
  border: 5px solid #ffffff;
}

.profile-card__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 1.5rem;
}

.profile-card__name,
.profile-card__age {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
}

.profile-card__name {
  font-weight: 700;
  color: #2a2d3c;
  letter-spacing: 1px;
}

.profile-card__age {
  font-weight: 500;
}

.profile-card__location {
  font-size: 0.8rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0.7rem 0 0.4rem 0;
}

.profile-card__statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* flex-wrap: wrap; */
  padding: 1rem;
  list-style-type: none;
  position: relative;
}

.profile-card__statistics-list:before {
  content: '';
  height: .06rem;
  background-color: #6a6f81;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.profile-card__statistics-list-item {
  color: #6a6f81;
  text-align: center;
  margin: 0.4rem;
}

.profile-card__statistics-number,
.profile-card__statistics-label {
  display: block;
}

.profile-card__statistics-number {
  font-size: 1rem;
  font-weight: 700;
  color: #2a2d3c;
}

.profile-card__statistics-label {
  display: inline-block;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding-top: 0.5rem;
}

@media (max-width: 250px) {
  .profile-card__statistics-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-card__statistics-list-item {
    padding: 0.5rem;
  }
}

@media (min-width: 480px) {
  .component-box__main:before {
    top: 0%;
    left: 0%;
  }
  .component-box__main:after {
    top: 100%;
    left: 100%;
  }
}
/*# sourceMappingURL=main.css.map */