*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 112.5%; /* 18px */
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #19a2ae;
}

.component__box {
  min-height: 100vh;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
  overflow: hidden;
}

/*----------------------------
  Background Effect - circles
----------------------------*/

.component__box::before, .component__box::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
}
 
.component__box::before {
  top: 0%;
  left: 10%;
  background: url('../img/bg-pattern-top.svg') no-repeat bottom right;
}

.component__box::after {
  top: 90%;
  left: 80%;
  background: url("../img/bg-pattern-bottom.svg") no-repeat top left;
}

/*--------------------------------
  Container - main / footer
---------------------------------*/

.component-box__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  z-index: 2;
}

.component-box__footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0 0.7rem 0;
  /* text-shadow: 0px 0px 100px #fff; */
  text-shadow: 7px 0px 17px rgba(255,255,255,0.92);
  letter-spacing: 1px;
  background-color: #19a2ae;
  z-index: 2;
}

.attribution-link {
  display: inline-block;
  padding-top: 0.5em;
  text-decoration: none;
  color: #3b53b0;
}

/*----------------------------
  Profile Card Component
----------------------------*/

.profile__card {
  width: 100%;
  max-width: 20rem;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  box-shadow: 6px 10px 18px -4px hsla(185, 60%, 26%, 0.72);
}

.profile-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
  padding-top: 7.8rem;
  color: #6a6f81;
}

/* background img at the top of the header */
.profile-card__header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 8rem;
  background: url("../img/bg-pattern-card.svg") no-repeat center;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.profile-card-box__img {
  margin-top: -2.8rem;
  background-color: #fff;
  border-radius: 4rem;
  z-index: 10;
}
.profile-card__img {
  order: 1;
  border-radius: 3rem;
  border: 5px solid #fff;
}

.profile-card__title {
  order: 2;
  margin-top: 1.5rem;
}

.profile-card__name,
.profile-card__age {
  font-size: 1rem;
  display: inline-block;
  text-align: center;  
}

.profile-card__name {
  font-weight: 700;
  color: #2a2d3c;
  letter-spacing: 1px;
}

.profile-card__age {
  font-weight: 500;
}

.profile-card__location {
  font-size: 0.8rem;
  order: 3;
  margin: 0.7rem 0 0.4rem 0;
}

.profile-card__statistics-list {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  padding: 1rem;
  list-style-type: none;
  position: relative;
}

/* Statistics border top  */
.profile-card__statistics-list::before {
  content: '';
  height: .06rem;
  background: #969696;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.profile-card__statistics-list-item {
  color: #6a6f81;
  text-align: center;
  margin: 0.4rem;
}

.profile-card__statistics-number,
.profile-card__statistics-number {
  display: block;
}

.profile-card__statistics-number {
  font-size: 1rem;
  font-weight: 700;
  color: #2a2d3c;
}

.profile-card__statistics-label {
  display: inline-block;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding-top: 0.5rem;
}

@media (max-width: 250px) {
  .profile-card__statistics-list {
    flex-direction: column;
  }

  .profile-card__statistics-list-item {
    padding: 0.5rem;
  }
} 