*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 112.5%;
  background-color: #19a2ae;
  font-family: "Kumbh Sans", sans-serif;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.component__box {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #19a2ae;
}

.component-box__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.component-box__main:before, .component-box__main:after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.component-box__main:before {
  top: 10%;
  left: 10%;
  background: url("../img/bg-pattern-top.svg") no-repeat bottom right;
}

.component-box__main:after {
  top: 90%;
  left: 90%;
  background: url("../img/bg-pattern-bottom.svg") no-repeat top left;
}

.component-box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0 0.7rem 0;
  font-size: 0.8rem;
  color: #ffffff;
  letter-spacing: 1px;
  background-color: #19a2ae;
}

.attribution-link {
  display: inline-block;
  padding-top: 0.5em;
  text-decoration: none;
  color: #3b53b0;
  text-shadow: 7px 0px 17px rgba(255, 255, 255, 0.92);
}

.profile__card {
  height: 20.7rem;
  width: 16rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0 2.8rem 5.6rem -1.2rem rgba(8, 70, 94, 0.506);
          box-shadow: 0 2.8rem 5.6rem -1.2rem rgba(8, 70, 94, 0.506);
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.profile-card__header {
  height: 15.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6a6f81;
}

.profile-card__header:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 7.7rem;
  background: url("../img/bg-pattern-card.svg") no-repeat center;
  background-size: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}

.profile-card-box__img {
  margin-top: 3.4rem;
  background-color: #ffffff;
  border-radius: 4rem;
  z-index: 10;
}

.profile-card__img {
  width: 5.3rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 3rem;
  border: 5px solid #ffffff;
}

.profile-card__title {
  margin-top: 1.3rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.profile-card__name,
.profile-card__age {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}

.profile-card__name {
  font-weight: 700;
  color: #2a2d3c;
  letter-spacing: 1px;
}

.profile-card__age {
  font-weight: 400;
}

.profile-card__location {
  margin-top: 0.4rem;
  font-size: 0.7rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.profile-card__statistics-list {
  height: 4.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.63rem;
  list-style-type: none;
  position: relative;
}

.profile-card__statistics-list:before {
  content: '';
  height: 0.06rem;
  background-color: #6a6f81;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.profile-card__statistics-list-item {
  color: #6a6f81;
  text-align: center;
}

.profile-card__statistics-number,
.profile-card__statistics-label {
  display: block;
}

.profile-card__statistics-number {
  font-size: 1rem;
  font-weight: 700;
  color: #2a2d3c;
}

.profile-card__statistics-label {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media (max-width: 420px) {
  .profile__card {
    width: 17rem;
  }
}

@media (min-width: 480px) {
  .profile__card {
    width: 19.4rem;
  }
}

@media (min-width: 768px) {
  .component-box__main::before {
    top: 0%;
    left: 0%;
  }
  .component-box__main::after {
    top: 100%;
    left: 100%;
  }
}
/*# sourceMappingURL=main.css.map */