
$base-bc: #19a2ae;
$primary-color:#ffffff;
$secondary-color:#2a2d3c;
$tertiary-color: #6a6f81;
$quaternary-color: #3b53b0;

$font-primary: 'Kumbh Sans', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 112.5%; // 18px 
}

body {
  background-color: $base-bc;
  font-family: $font-primary;
}

/*-------------------------------------------
  Component box & background Effect - circles
--------------------------------------------*/

.component__box {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $base-bc;
}

/*--------------------------------
  Container - main / footer
---------------------------------*/

.component-box__main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  &:before,
  &:after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

  &:before {
    top: 10%;
    left: 10%;
    background: url('../img/bg-pattern-top.svg') no-repeat bottom right;
  }

  &:after {
    top: 90%;
    left: 90%;
    background: url("../img/bg-pattern-bottom.svg") no-repeat top left;
  }
}

.component-box__footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0 0.7rem 0;
  text-shadow: 7px 0px 17px rgba(255,255,255,0.92);
  letter-spacing: 1px;
  background-color: $base-bc;
  z-index: 1;
}

.attribution-link {
  display: inline-block;
  padding-top: 0.5em;
  text-decoration: none;
  color: $quaternary-color;
}

/*----------------------------
  Profile Card Component
----------------------------*/

.profile__card {
  height: 20.7777778rem;
  width: 16rem;
  border-radius: 1.2rem;
  box-shadow: 0 2.8rem 5.6rem -1.2rem rgba(8, 70, 94, 0.504835);
  background-color: $primary-color;
  position: relative;
}

.profile-card__header {
  height: 15.8888889rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $tertiary-color;

  // background img at the top of the header 
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    // width: 18.1111111rem;
    width: 100%;
    height: 7.77777778rem;
    background: url("../img/bg-pattern-card.svg") no-repeat center;
    background-size: cover;
    border-radius: 1.2rem 1.2rem 0 0;
  }
}

.profile-card-box__img {
  margin-top: 3.4rem;
  background-color: $primary-color;
  border-radius: 4rem;
  z-index: 10;
}
.profile-card__img {
  width: 5.33333333rem;
  order: 1;
  border-radius: 3rem;
  border: 5px solid $primary-color;
}

.profile-card__title {
  margin-top: 1.33333333rem;
  order: 2;
}

.profile-card__name,
.profile-card__age {
  display: inline-block;
  font-size: 1rem;
  text-align: center;  
}

.profile-card__name {
  font-weight: 700;
  color: $secondary-color;
  letter-spacing: 1px;
}

.profile-card__age {
  font-weight: 400;
}

.profile-card__location {
  margin-top: 0.44444444rem;
  font-size: 0.77777778rem;
  order: 3;
}

.profile-card__statistics-list {
  height: 4.94444444rem;
  display: flex;
  justify-content: space-around;
  padding: 1.63888889rem;
  // flex-wrap: wrap; 
  list-style-type: none;
  position: relative;

  // statistics border top 
  &:before {
    content: '';
    height: .06rem;
    background-color: $tertiary-color;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}

.profile-card__statistics-list-item {
  color: $tertiary-color;
  text-align: center;
}

.profile-card__statistics-number,
.profile-card__statistics-label {
  display: block;
}

.profile-card__statistics-number {
  font-size: 1rem;
  font-weight: 700;
  color:$secondary-color;
}

.profile-card__statistics-label {
  display: inline-block;
  font-size: 0.55555556rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media (max-width: 420px) {
  .profile__card {
    width: 17rem;
  }
}

@media (min-width: 480px) {
  .profile__card {
    width: 19.44449rem;
  }
}


