
$font-primary: 'Kumbh Sans', sans-serif;

$bc-base__easternBlue: #19a2ae;

$primary-color__white:#ffffff;
$secondary-color__charadeBlack:#2a2d3c;
$tertiary-color__stormGray: #6a6f81;
$quaternary-color__azureBlue: #3b53b0;

$bshadow__tarawera: rgba(8, 70, 94, 0.506);
$tshadow__white: rgba(255,255,255,0.92);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 112.5%; // 18px 
  background-color: $bc-base__easternBlue;
  font-family: $font-primary;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

  .component-box {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $bc-base__easternBlue;


  &__main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-size: auto;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &:before {
      top: 10%;
      left: 10%;
      background: url('../img/bg-pattern-top.svg') no-repeat bottom right;
    }

    &:after {
      top: 90%;
      left: 90%;
      background: url("../img/bg-pattern-bottom.svg") no-repeat top left;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 0.7rem 0;
    background-color: $bc-base__easternBlue;
  
    &-text {
      font-size: 0.8rem;
      color: $primary-color__white;
      letter-spacing: 1px;
    }
  
    &-link {
      display: inline-block;
      padding-top: 0.5em;
      text-decoration: none;
      color: $quaternary-color__azureBlue;
      text-shadow: 7px 0px 17px $tshadow__white;
    }
  }
}

.card {
  height: 20.7rem;
  width: 16rem;
  border-radius: 1.2rem;
  box-shadow: 0 2.8rem 5.6rem -1.2rem $bshadow__tarawera;
  background-color: $primary-color__white;
  position: relative;
  z-index: 2;

  &__header {
    height: 15.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $tertiary-color__stormGray;
  
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 7.7rem;
      background: url("../img/bg-pattern-card.svg") no-repeat center;
      background-size: cover;
      border-radius: 1.2rem 1.2rem 0 0;
    }
    
      &--name,
      &--age {
        display: inline-block;
        font-size: 1rem;
        text-align: center;  
      } 
  
      &--title {
        margin-top: 1.3rem;
        order: 2;
      }
  
      &--name {
        font-weight: 700;
        color: $secondary-color__charadeBlack;
        letter-spacing: 1px;
      }
  
      &--age {
        font-weight: 400;
      }
  
      &--location {
        margin-top: 0.4rem;
        font-size: 0.7rem;
        order: 3;
      }
  
      &-imgContainer {
        margin-top: 3.4rem;
        background-color: $primary-color__white;
        border-radius: 4rem;
        z-index: 10;
      
        &--img {
          width: 5.3rem;
          order: 1;
          border-radius: 3rem;
          border: 5px solid $primary-color__white;
        }
      }
  }
}


.card__stats {
  height: 4.9rem;
  display: flex;
  justify-content: space-around;
  padding: 1.63rem;
  list-style-type: none;
  position: relative;

  &:before {
    content: '';
    height: 0.06rem;
    background-color: $tertiary-color__stormGray;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  &-list {
    color: $tertiary-color__stormGray;
    text-align: center;
  
    &--number {
      display: block;
      font-size: 1rem;
      font-weight: 700;
      color:$secondary-color__charadeBlack;
    }
  
    &--label {
      font-size: 0.5rem;
      font-weight: 400;
      letter-spacing: 1.5px;
    }
  }
}


@media (max-width: 420px) {
  .profile__card {
    width: 17rem;
  }
}

@media (min-width: 480px) {
  .profile__card {
    width: 19.4rem;
  }

}

@media (min-width: 768px) {
  .component-box__main::before {
    top: 0%;
    left: 0%;
  }

  .component-box__main::after {
    top: 100%;
    left: 100%;
  }
}